.body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  color: black;
}
.logo-link{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.title{
  font-size: 50px;
  color: black;

}


@media (min-width: 990px) {
  .nav-link.fs-xl {
      font-size: 1.5rem; 
  }
}

/* buscador */

.container-search{
  margin: 0 auto;
  max-width: 85%;
  box-sizing: border-box;
  display: block;
  margin-top: -30px;
  border-radius: 20;

}
.search{
  background-color: #EBEBEB;
  border-radius: 32px;
  border: 1px solid #DDDDDD;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  height: 66px;
}
.search-one{
  background-color: #EBEBEB;
  border-radius: 32px;
  position: relative;
  width: 100%;
  display: flex;
  color: black;
  height: 66px;
}
.search-one:hover{
  background-color: white;
  border: 1px solid #DDDDDD;
}
.input-search{
  border: 0;
  background: none;
  border: none;
  outline: none;
}
.input-search:focus{
  border: none;
  outline: none;
}
.search-button{
  background-color: #0930c9;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  display: flex;
  position: relative;
  color: black;
  height:50px;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 10px;
}

/* cards */

.image-container {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
}


.image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}


.favorite {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0px;
  right: 0px;
  padding: 5px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  background-color: #b9b9b9;
}
.favorite input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.favorite input:checked ~ svg {
  animation: bouncing 0.5s;
  fill: #ffffff;
  filter: drop-shadow(0px 3px 1px rgba(10, 10, 10, 0.14));
}

.favorite svg {
  fill: #f80000;
}